#navLogo {

    color: rgb(241, 231, 231);
    font-size: 20px;

}

body {
    font-family: "Nunito";

background-color: #fd1e00;
}

.content {

    margin-bottom: 100px;
}

.blurb h2 {

    color: rgb(247, 239, 239);
    font-weight: 100;
    font: 2.5rem;
}


.blurb p {

    color: #ffffff;
    line-height: 2;
    font: 1.5rem;
}

#navmenu {

    font-weight: 100;
    font-size: 1rem;
}

#navmenu .nav-link {

    color: rgb(255, 255, 255)
}

#navmenu .nav-link:hover {

    color: rgb(17, 15, 15);
}


#headingGroup span {

    color: rgb(22, 7, 7);
}

#headingGroup h1 {

    font-weight: 100;
    font-size: 4rem;
}

#mainIMGS {

    aspect-ratio: 1;

    height: 400px;
    width: 500px;
    border: 4px solid rgb(12, 2, 2);
    margin: 10px;
    border-radius: 50px;
    margin-top: 20px;
}

button {

    border: 10px solid rgb(15, 9, 9);
}



#switchicon {
    height: 50px;
    width: 50px;

}

.scrolled {

    background: rgb(7, 0, 0);
    padding: 0;
    margin: 0;

}


.dark-mode #MON {

    color: rgb(255, 10, 10);
}

.dark-toggler {

    border: none;
    display: flex;
    justify-content: flex-end;
}


.dark-toggler button {

    border: none;
    border: 2px solid white;
    background-color: black;
    color: white;
    padding: 10px;
    margin: 5px;

}


.dark-mode {
    background-color: black;
    color: rgb(255, 255, 255);
}

.dark-mode #mainIMGS {
    background-color: black;
    color: rgb(255, 255, 255);
    border: 4px solid rgb(255, 255, 255) !important;
}


@media(max-width:1200px) {

    #headingGroup h1 {

        font-size: 3rem;
        font-weight: 100;
    }

}