body {
    font-family: "Nunito";
 background-color: #fd1e00;
}

#navLogo {

    color: rgb(241, 231, 231);
    font-size: 20px;

}

#navmenu .nav-link {

    color: rgb(255, 255, 255)
}

#navmenu .nav-link:hover {

    color: rgb(17, 15, 15);
}


#headingGroup span {

    color: rgb(22, 7, 7);
    
}


button {

    border: 10px solid rgb(15, 9, 9);
}

#formcon {

    border: 2px solid black;
    margin-top: 20px;
    border-style: inset;
    border-radius: 20px;
    background-color: #fdfdfd;
    width: 800px;
  

}

.dark-mode {
    background-color: black;
    color: white;
}

.dark-toggler {

    border: none;
    display: flex;
    justify-content: flex-end;
}



.dark-toggler button {


    background-color: black;
    color: white;
    display: flex;
    justify-content: flex-end;
    align-items: end;
    margin:5px;
    margin-top: 50px;

}


.dtCON {

    display: flex;
    justify-content: flex-end;
    align-items: end;
}

.dark-mode #MON {

    color: rgb(255, 10, 10);
}

#feedbackform{

    background-color: #ffffff;
    padding:0;
}

.gifcon{
    display:flex ;
    padding-top: 10px;
    justify-content: center;
    height: 200px;

}

.gif{
    border: 2px solid rgb(255, 255, 255) !important;
    display:flex;
    height: 200px;
    height: 200px;
    justify-content: center;
}

.scrolled {

    background: rgb(0, 0, 0);
padding: 0;
    margin: 0;
}
#headingGroup span {

    color: rgb(22, 7, 7);
}

#headingGroup h1 {

    font-weight: 100;
    font-size: 4rem;
}
ul{

    list-style-type: none;
}


#comments-container {
    background-color: #f8f9fa;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#comments-list {
    max-height: 300px;
    overflow-y: auto;
}

.list-group-item {
    background-color: #fff;
    border: 1px solid #ddd;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 8px;
}

@media(max-width:1200px) {

    #headingGroup h1 {

        font-size: 3rem;
        font-weight: 100;
    }

}